{% extends "base.html" %}
{% set active_page="contact" %}

{% block content %}
    <section class="hero is-small has-background-white-ter">
        <div class="hero-body">
            <p class="title">
                Contact
            </p>
            <p class="subtitle">
                Please reach out through the links below if you would like to get in touch with me...
            </p>
        </div>
    </section>
    <section class="has-background-white-ter">
        <div class="columns is-vcentered">
            <div class="column is-one-third has-text-centered">
                <figure class="image is-inline-block">
                    <img class="is-square is-rounded" src="static/pro.jpeg" ">
                </figure>
            </div>
            <div class="column is-vcentered">
                {% for x in data.k %}
                <div class="columns is-vcentered">                    
                    <div class="column is-one-fifth has-text-centered">
                        <figure class="image is-64x64 is-inline-block">
                            <img class="is-square" src={{ data.images[x] }} ">
                        </figure>
                    </div>
                    <div class="column is-vcentered is-narrow has-text-centered">
                        <a href={{ data.href[x] }} target="_blank"><h2 class="is-size-7-touch has-text-centered-touch">{{ data.links[x] }}</h2></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}