{% extends "base.html" %}
{% set active_page="contact" %}

{% block content %}
    <section class="hero is-small has-background-white-ter">
        <div class="hero-body">
            <p class="title">
                Contact
            </p>
            <p class="subtitle is-italic is-size-6 py-3 has-text-grey">{{ data.quote }}</p>
        </div>
    </section>
    <section class="has-background-white-ter">
        <div class="columns is-vcentered">
            <div class="column is-5">
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        <figure class="image is-inline-block">
                            <img class="is-square is-rounded" src="static/pro.jpeg" ">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="column is-vcentered">
                {% for c in data.contacts %}
                <div class="columns is-vcentered">                    
                    <div class="column is-one-fifth has-text-centered">
                        <figure class="image is-64x64 is-inline-block">
                            <img class="is-square" src={{ data.images[c] }} ">
                        </figure>
                    </div>
                    <div class="column is-vcentered is-narrow has-text-centered">
                        <a href={{ data.href[c] }} target="_blank"><h2 class="is-size-7-touch has-text-centered-touch">{{ data.links[c] }}</h2></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}